<div class="mb-md-4 mb-3">
  <!-- <a class="text-decoration-none" href="#"> -->
  <div class="row align-items-center">
    <div class="col-8">
      <h5 class="card-title">{{ recipeDetail.title }}</h5>
      <p class="card-text">
        {{ recipeDetail.description }}
      </p>
      <button class="btn btn-danger" (click)="deleteRecipe(recipeDetail.title)">
        Delete
      </button>
    </div>
    <div class="col-4">
      <img
        [src]="recipeDetail.image"
        class="img-fluid rounded-circle recipeImage"
        alt="image"
      />
    </div>
  </div>
  <!-- </a> -->
</div>
