<app-header (onDisplay)="setSection($event)"></app-header>

<div class="container mt-md-5 mt-3">
  <!-- Recipe -->
  <div class="row" *ngIf="display === 'recipe'">
    <div class="col-md-5 col-12">
      <app-add-recipe-item
        (onNewRecipeAdd)="addNewRecipe($event)"
      ></app-add-recipe-item>
      <app-recipes-list
        [recipesList]="recipes"
        (OnDeleteRecipe)="DeleteRecipe($event)"
      ></app-recipes-list>
    </div>
    <div class="col-md-7 col-12">
      <app-recipes-detail></app-recipes-detail>
    </div>
  </div>
  <!-- Shopping -->
  <div class="row" *ngIf="display === 'shopping'">
    <div class="col-5">
      <app-add-shopping-item
        (onNewItemAdd)="onNewItemAdded($event)"
      ></app-add-shopping-item>
    </div>
    <div class="col-7">
      <app-shopping-list
        *ngFor="let item of shoppingList"
        [shoppingItem]="item"
        (onItemRemove)="removeItem($event)"
      ></app-shopping-list>
    </div>
  </div>
</div>
